body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.versteckt {
    display: none;
}

#neujahrsNachricht {
    margin-top: 20px;
}
